html,body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: #3a3a52;
  background: radial-gradient(
    circle,rgba(58, 58, 82, 1) 0%, 
    rgba(38, 38, 51, 1) 100%
  );

}

p {
  color: white;
}

li {
  color: white;
}

a.play_button {
  padding: 0.5rem 1rem;
  background-color: rgb(0, 119, 209);
  border-radius: 10px;
  color: white;
  text-align: center;
}

div.container_1 {
  margin: 0 auto;
  width: 90%;
}